@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  font-family: "Open Sans", sans-serif;
}
